/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2014, 15:43:50
    Author     : Roeland
*/

footer {
    position: fixed;
    bottom: 0;
    background: rgba(255,255,255,0.45);
    left: 0px;
    right: 0px;
    height: 85px;
    text-align: center;
}


#nav_btn {
    display: inline-block;
    background: #339933;
    color: white;
    margin: 10px 5px 10px 5px;
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 0px 10px 10px 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}
